:root {
  --primary: #0e0e0e;
  --secondary: #800101;
  --third: #f5f8ce;
  --w-text: #f6fbfb;
  --mobile-p: 0.9rem;
  --pad-p: 1.9rem;
  --desktop-p: 0.8rem;
  --mobile-title: 1rem;
  --pad-title: 3.3rem;
  --desktop-title: 0.8rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
