.main-bar {
  width: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}

.main-bar h1 {
  margin: 0;
  padding: 0.5rem;
  font-size: var(--mobile-title);
  letter-spacing: 0.3rem;
  color: var(--w-text);
}

.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--w-text);
}

.main-bar-link .active {
  border-bottom: 1.3px solid var(--primary);
  border-top: 1.5px solid var(--primary);
  user-select: none;
}

@media screen and (min-width: 760px) {
}

@media screen and (min-width: 992px) {
  .main-bar {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .main-bar h1 {
    font-size: 3rem;
    padding: 0.2rem;
    letter-spacing: 0.3rem;
    margin-left: 4rem;
  }

  .nav-links {
    width: 20%;
  }
}

@media screen and (min-width: 1600px) {
}
